.navbar{ background:#18aff5;}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color:#18aff5;}

.header {
    background-image: url('background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.781);
   }

   .description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    
}
.description h1{
 color:#18aff5 ;
}
.description p{
 color:rgb(3, 13, 20);
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description a{
 border:1px  solid #18aff5;
 background: #18aff5;
 color:#fff;
}
.whyme {
    padding: 4em;
}