.background p{
    color: red;
    font-size: 20px;
    text-align: start;
    display: inline-block;
    padding: 10px 10px;
}

.background{
  background:  url(Preview_Image_00000.jpg) no-repeat center;
  background-size: cover;
  height: 500px;
  position: relative;
}
.Text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.Text h1{
    font-size: 50px;
}
.Text p{
    font-size: 25px;
    color: white;
}
footer{
    text-align: right;
    font-size: 20px;
    color: red
}
